
/* Sur tous types d'écrans orientés verticalement */
@media all {

/* Styles de base */

/* Body*/

body {
    background-color: #F3F3F3;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}

/* Header */


    /* Nav*/

    nav {
        background-color: white;
        width:100%;
        margin-top:-2%;
    }

    #logo_GBAF img{
        width:10%;
        margin-left: 5%
    }


    /* Barre d'identité */

    #barreDidentite ul{
        text-align:right;
        margin-right:2%;
        margin-top:-150px;
        padding-bottom:100px;
    }

    #barreDidentite li{
    list-style: none;
    display:inline-block;
    }

    #barreDidentite img{
        width:50%;
    }

    .nomPrenom{
        text-decoration: none;
        color :black;
    }

    .nomPrenom:hover {
        border-bottom:1px solid black;
    }
 /*Déconnexion */


    .deconnexion{
        text-decoration: none;
        color :black;
        font-size:0.8em;
        position:relative;
        top:-100px;
    }

    .deconnexion:hover{
        border-bottom: 1px solid black;
    }

    #deconnexion {
        text-align: right;
        margin-right:2%;
    }


/* Formulaire de connexion */

#formulaireDeConnexion, #formulaireMotDePasse {
    background-color: white;
    margin : auto;
    width: 25%;
    padding: 2%;
    margin-top:5%;
    margin-bottom :5%;
    
}

    /* Titre du formulaire de connexion */
    #formulaireDeConnexion h1, #formulaireDinscription h1, #formulaireMotDePasse h1{
        text-align : center;
        font-size: 2em;
        margin-bottom:10%;
    }

    /*Marge à gauche des divers éléments*/
    #connexion, #margeMotDePasse {
        margin-left: 20%;
    }

    /* Mise en page des labels */
    .label {
        padding-top: 2%;
        padding-bottom:2%;
        margin-top:4%;
    }


    /* Mise en forme des cases d'insertion*/
    #name, #password,#prenom, #userName, #question, #reponse {
        background-color: #e5e5e5;
        box-shadow: inset 1px 3px 5px #c2c1c1;
        border:none;
        padding-top:2%;
        padding-bottom:2%;
        padding-right: 20%;
        
    }

    input:focus{
        outline:  none;
    }

    /* Design du mot de passe oublié */
    #connexion a {
        text-decoration: none;
        color:black;
        font-size: 0.8em;
        
    }

    #connexion a:hover{
        border-bottom: 1px solid black;
    }

    #motDePasseOublie {
        margin-bottom:15%;
    }


    /* Design des boutons */
    #submit, .inscription ,.modification{
        background-color: #ed1e24;
        color:white;
        border-radius: 5px;
        border:none;
        padding-top:2.5%;
        padding-bottom:2.5%;
        padding-left:6%;
        padding-right:6%;
        margin:2%;
    }

    #submit:hover{
        background-color: #333;
        transition-duration: 0.5s;
        transition-property: background-color;
    }

    .inscription:hover{
        background-color: #333;
        transition-duration: 0.5s;
        transition-property: background-color;
    }

    .submit, #inscription, #modification {
        text-align: center;
        width: 80%;
    }

    /* Design du formulaire d'inscription*/
    #formulaireDinscription {
        background-color: white;
        margin : auto;
        width: 45%;
        padding: 2%;
        margin-top:5%;
        margin-bottom :5%;
    }

    #reponse {
        margin-bottom:5%;
    }

    #messageInscription{
        font-size:0.8em;
        margin-top:5%;
    }

    #retourConnexion{
        text-align:right;
        margin-top:5%;
    }

    #retourConnexion a{
        text-decoration: none;
        color:black;
        font-size: 0.8em;
    }

    #retourConnexion a:hover{
        border-bottom:1px solid black;
    }

    #margeinscription{
        margin-left: 25%;
    }

    /* Design de la page paramètre du compte*/

    .messageParametres {
        font-size: 0.8em;
    }

    .motDePasseOublie a, .Retour a{
        text-decoration: none;
        color:black;
        font-size: 0.8em;
        padding-top:1%;
    }

    .motDePasseOublie a:hover, .Retour a:hover{
        border-bottom:1px solid black;
    }

    .modification:hover{
        background-color: #333;
        transition-duration: 0.5s;
        transition-property: background-color;
        
    }

    #modification{
        margin-bottom:5%;
        margin-top:5%;
    }



    /* Design du footer*/

   footer {
       background-color: #333;
       color:white;
   } 

   #menuFooter li{
       list-style: none;
       text-align:center;
       display:inline;
       font-size:0.8em;
       margin:auto;
   }

   #menuFooter ul{
       text-align:center;
    padding-top:2%;
   }

   #menuFooter a{
       text-decoration: none;
       color:white;
   }

}


